.hero-section {
    background: linear-gradient(rgba(0, 45, 87, 0.85), rgba(0, 45, 87, 0.85)),
            url("{{ asset('images/jumbo.jpg') }}");
    background-size: cover;
    background-position: center;
}
